.splash_page {
  margin-top: 3%;
}
.cta_button {
  background: linear-gradient(180deg, #52d49c 0%, #48bb89 100%);
  text-align: center;
  border-radius: 5px;
  margin-top: 40px;
}

.header__title {
  font-family: "Source Sans Pro", sans-serif;
}

.header__subtitle {
  margin-top: 3%;
}

.illustration {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.splash_details {
  padding-bottom: 66px;
}

.about {
  padding: 6em 0;
  background-color: rgba(82, 211, 155, 0.05);
}
.about_title {
  /* margin: 0px 2%; */
  margin-bottom: 20px;
}

.about_subtitle {
  margin-bottom: 2.5em;
  width: 50%;
}

.about_quote {
  width: 80%;
}

.about_details_text {
  padding-right: 4em;
}

.learn,
.build {
  padding-top: 8em;
}

.learn_main,
.build_main {
  padding: 4em;
}

.learn_title,
.build_title {
  margin-bottom: 0.5em;
}

.learn_details,
.build_details {
  margin-bottom: 4em;
}
