@import url("https://fonts.googleapis.com/css?family=Karla|Source+Sans+Pro&display=swap");
.navbar {
  background: transparent;
  width: 80%;
  margin: 0% auto;
  padding-top: 3%;
}
.app {
  background: linear-gradient(180deg, #eaefff 0%, rgba(234, 239, 255, 0) 100%);
  border: solid 20px rgba(13, 50, 97, 0.1);
  border-top: 0px;
  border-bottom: 0px;
}

.navbar-item {
  margin: 0% 3%;
  color: #0d3261;
}
.width {
  width: 80%;
  margin: 0% auto;
}
body {
  color: #0d3261;
  font-family: "Karla", sans-serif;
}
